diffusers==0.30.2
ftfy==6.2.0
rotary_embedding_torch==0.5.3
mmengine==0.10.3
beautifulsoup4==4.12.2
transformers==4.44.2
tqdm==4.66.5
av==13.0.0
pandas==2.2.2
einops==0.8.0
timm==1.0.9
torchvision==0.18.0
sentencepiece==0.2.0
protobuf==3.20.1
accelerate==0.34.2
numpy==1.23.5